/* 
  color theme: 
    -light
      #55efc4
      #00b894
      #676767
      #ccc
    -dark
      #1c2022
      #24282a
      #fff
      #dadada
*/


html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.bg-c-green{
  background-color: #00b894;
}

.card-link{
  color: #00b894;
  font-weight: 700;
}
.card-link:hover{
  color: #016955;
}

.desc-h-scroll{
  height: 100px;
  bottom: 0;
  overflow-y: auto;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.link-footer{
  color: #00b894;
  font-weight: 500;
}
.link-footer:hover{
  color: #016955;
}

._404title{
  font-size: 100px;
  font-weight: 700;
  color: #55efc4;
}
/*._404title::before{
  content: '';
  position: absolute;
  display: inline;
  width: 300px;
  height: 300px;
  background-color: #fff;
  margin: -5px 0 10px -20px;
  box-shadow: 0 0 30px 8px #ccc;
  border-radius: 10px;
  z-index: -1;
}
._404title::after{
  content: '';
  position: absolute;
  display: inline;
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin: 150px 0 10px -250px;
  box-shadow: 0 0 20px 1px #ccc;
  border-radius: 8px;
  z-index: -2;
}*/

._404desc{
  display: block;
  font-size: 25px;
  margin-top: 30px;
  color: #676767;
  margin-left: -200px;
}

._404link{
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 50px;
  margin-left: 200px;
  color: #3f9c82;
}

._404link:hover{
  color: #55efc4;
}

.title-surah{
  color: #676767;
}

.content{
  padding-bottom: 3rem;
}

.arabic{
  font-size: 30px;
  color: #676767;
}

.arabic-tr{
  font-size: 14px;
  color: #676767;
}

.translate{
  font-size: 18px;
  color: #676767;
}

.number-c-1{
  font-weight: 700;
  background-color: #00b894;
  border-radius: 50px;
  padding: 5px 20px;
  color: #fff;
}

.btn-c-green{
  color: #fff!important;
  background-color: #55efc4!important;
  border-radius: 50px!important;
  padding: 5px 25px!important;
}
.btn-c-green:hover{
  background-color: #00b894!important;
}

.btn-c-nav{
  border-radius: 50px!important;
  padding: 5px 20px!important;
}

.text-c-green{
  color: #00b894!important;
}

.audio-player{
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
}

.goUp{
  position: fixed;
  display: inline-block;
  bottom: 0;
  right: 10px;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  z-index: 2;
}

.goUp::after{
  content: '';
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #00b894;
  border-radius: 50px;
  margin-left: -30px;
  margin-top: -15px;
  cursor: pointer;
  z-index: -1;
}

.dark .bg-c-green{
  background-color: #1c2022;
}

.dark .jumbotron{
  background-color: #24282a;
  color: #fff;
}

.dark::after{
  content: '';
  position: absolute;
  background-color: #1c2022;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
}

.dark .card{
  background-color: #24282a;
}
.dark .card-title{
  color: #dadada;
}
.dark .card-text{
  color: #dadada;
}
.dark .card-link{
  color: #55efc4;
}

.dark .footer{
  background-color: #24282a;
}

.dark .title-surah, 
.dark .arabic,
.dark .arabic-tr,
.dark .translate{
  color: #dadada;
}

.dark ._404title{
  color: #dadada;
}
.dark ._404title::before{
  /* content: '';
  position: absolute;
  display: inline;
  width: 300px;
  height: 300px;
  background-color: #fff;
  margin: -5px 0 10px -20px;
  box-shadow: 0 0 30px 8px #ccc;
  border-radius: 10px;
  z-index: -1; */
  box-shadow: 0 0 0 0 #24282a;
  background-color: #24282a;
}
.dark ._404title::after{
  /* content: '';
  position: absolute;
  display: inline;
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin: 150px 0 10px -250px;
  box-shadow: 0 0 20px 1px #ccc;
  border-radius: 8px;
  z-index: -2; */
  background-color: #24282a;
  box-shadow: 0 0 0 0 #24282a;
}

.dark .audio-player{
  background-color: #24282a;
}

.search-box .form-control{
  padding: 20px 30px;
  font-size: 30px;
  font-weight: 300;
  border: none;
  border-radius: 50px;
}

.link-back{
  text-decoration: none;
}

.link-back:hover{
  text-decoration: none;
}

.rounded-select{
  border-radius: 50px!important;
}

.dark .navbar::after{
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 54px;
  left: 0;
  right: 0;
  background-color: #24282a;
  overflow-x: none;
  z-index: -1;
}

.content-box{
  margin-top: 3.5rem;
}
@media(max-width: 768px){
  .btn-m-bottom{
    position: fixed;
    bottom: 70px;
    right: 10px;
  }
}

.navbar-brand{
  font-weight: 300;
}

.sticky-sidebar{
  position: -webkit-sticky;
  position: sticky;
  top: 65px;
}